<template>
  <div class="images_container">
    <div class="images_content">
      <h1>Imagenes de los bomberos :)</h1>
      <ul class="images_list">
        <li
          v-for="image in images"
          :key="image.id"
        >
          <h2>{{ image.title }}</h2>
          <!-- <button @click="toggleIamge(image)">
                        {{ image.url ? 'Undo' : 'Complete' }}
                    </button>
                    <button @click="deleteImageimage)">Delete</button> -->
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
    import axios from "axios";
    export default {
        data() {
            return {
                images: []
            }
        },
        created() {
            this.getData();
        },
        methods: {
            async getData() {
                try {
                    // fetch images
                    const response = await axios.get('http://127.0.0.1:8000/api/images/');
                    // set the data returned as images
                    this.images = response.data; 
                } catch (error) {
                    console.log(error);
                }
            }, 
        }
    }
</script>
